// Specific CSS for your home-page
.lend-info {
  background: #06113C;
  padding: 26px;
  text-align: center;
  background-color: #06113C;

}

.a {
  color: white;
  text-decoration: underline;
}

@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);

html, body {
   margin: 0;
   width: 100%;
   height: 100%;
  //  background-color: #06113C;
   color: #FF8C32;

}

form, .form-label {
  color: #FF8C32;
  background: #06113C;

}

h1, h2, h3, h4, h5, h6 {
  color: #FF8C32;
}

.catCard {
  color: #FF8C32;
  background-color: #06113C;
}

#record {
   width: 100%;
   height: 100%;
   position: relative;
   overflow: hidden;
   background-color: #06113C;

   /* Center text */
   text-align: center, #FF8C32;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
   display: -webkit-flex;
   display: flex;
}

#record::before {
   background: url("https://gallery.yopriceville.com/var/resizes/Free-Clipart-Pictures/Music-PNG/Gramophone_Vinyl_LP_Record_PNG_Transparent_Clip_Art_Image.png?m=1463021701")
      no-repeat center center;
   background-size: cover;
   content: "";
   width: 100vw;
   height: 100vw;
   position: absolute;
   animation: spin 5s linear infinite;
}

@keyframes spin {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}

.content {
   font-family: 'Roboto Slab', serif;
   font-size: 1.0vw;
   line-height: 0;
   color:#FF8C32;
   position: relative;
   margin: 0 auto;
}

.rock {
   margin: 0;
   padding: 0;
   font-weight: bold;
   font-size: 4vw;
   line-height: 3vw;
   font-family: HurmeBold;
}

.register {
  padding-top: 35px;
  font-family: HurmeBold;
}
