
<div>
<h2 class= "title" >How it works</h2>
<h3 class= "step">Step 1</h3>
<p class= "how_to">First import the discogs releases you want to track by either providing your discogs username or by importing every release manually using the discogs url or the discogs release ID. Be careful to provide a release page ID and not a marketplace ID of a specific item. </p>
<p class= "how_to">IMPORTANT: Your Discogs wantlist should be set to public for us to be able to automatically import it</p>
<h3 class= "step">Step 2</h3>
<p class= "how_to">Set your alerts. Be careful to choose the correct currency and country as otherwise it will break the matching algorythm.</p>
<h3 class= "step">Step 3</h3>
<p class= "how_to">Check your matches! Happy buying! </p>
</div>
