<h2 class= "title" >How it works</h2>

<div class="cards">
  <div class="card-category">
    <h3 class= "step">Step 1</h3>
    <p class= "how_to">First import the discogs releases you want to track. provide your discogs username on signup or import every release manually using the discogs url or the discogs release ID.</p>

  </div>

  <div class="card-category">
    <h3 class= "step">Step 2</h3>
    <p class= "how_to">Set your alerts. Be careful to choose the correct currency and country as otherwise it will break the matching algorythm.</p>
  </div>

  <div class="card-category">
    <h3 class= "step">Step 3</h3>
    <p class= "how_to">Check your matches! We  Happy buying! </p>
  </div>

</div>
  <div class = notice ><p class= "how_to">IMPORTANT: Your Discogs wantlist should be set to public for us to be able to automatically import it. Also be careful to provide a release page URL or ID.</p></div>
  
