<div class="d-flex justify-content-center align-items-center" style="background-image: url(<%= image_url "https://res.cloudinary.com/dicpef1tv/image/upload/v1669724537/background.jpg" %>); height: 86vh; background-size: cover;background-position: center;opacity-50">
  <div class="lend-info rounded">
    <h1 class="lend-main-heading"> Shoot us a mail here: maxime.tribolet@gmail.com </h1>
  </div>
</div>
  <div class="footer d-flex justify-content-center align-items-center flex-row text-light" style="background-color: #222222">
    <a href="/about" class="About mx-2">About</a>
    <a href="/team" class="Team mx-2">Team</a>
    <a href="/contact" class="Contact Us mx-2">Contact Us</a>
  </div>
