<div class="d-flex justify-content-center align-items-center" style="background-image: url(<%= image_url "https://res.cloudinary.com/dicpef1tv/image/upload/v1669285679/1_nRd0-ZVoNwhjxiwFMrtBCQ_wsye53.jpg" %>); height: 90vh; background-size: cover;background-position: center;opacity-50">
  <div class="lend-info rounded">
    <h1 class="lend-main-heading"> Rent or Lend boardgames easily around your area! </h1>
      <%= link_to '/users/sign_up', remote: true do %>
  <button class="btn btn-primary border-light" style="background-color: #F27B21">Register Here</button>
<% end %>
    <%# <label for="plz">Area code:
    <input type="plz" name="plz" id="plz"> %>
<%#
    <input type="submit" name="Sign up"> %>
  </div>
</div>

<div class="d-flex flex-column justify-content-evenly" style="height: 40vh; background-color: #222222"> </div>

      <%# MAP HEREEEEE %>

<div class="footer d-flex justify-content-center align-items-center flex-row">
  <a href="..." class="About mx-2">About</a>
  <a href="..." class="Pricing mx-2">Pricing</a>
  <a href="..." class="Team mx-2">Team</a>
  <a href="..." class="btn btn-primary mx-2" style="background-color: #08A355">Contact us</a>
</div>
