body {
	// background-color: $body-background;
	font-family: "ubuntu", Arial, sans-serif;
	overflow-x: hidden;
}

a {
	text-decoration: none;
	color: #9ca0b1;
}

.wrapper {
	text-align: center;
	h1 {
		color: #fff;
		font-size: 70px;
		text-transform: uppercase;
		font-weight: 700;
		font-family: "Josefin Sans", sans-serif;
		background: linear-gradient(to right,#06113C 10%, #25abe8 50%, #FF8C32 60%);
		background-size: auto auto;
		background-clip: border-box;
		background-size: 200% auto;
		color: #fff;
		background-clip: text;
		text-fill-color: transparent;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		animation: textclip 1.5s linear infinite;
		display: inline-block;
	}
}

@keyframes textclip {
	to {
		background-position: 200% center;
	}
}
