@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);

body {
  font-family:'Roboto', Helvetica, Arial, sans-serif;
  font-weight:100;
  background:#333;
}
h3 {
  font-size: 1.1em;
  margin:0;
}
p{
  font-size:0.8em;
}

/* Hover Card
.......................................................................*/
div.catCard {
  border: solid 5px #06113C;
  box-shadow: 5px, 5px, 5px, 5px, gray;
  background: #06113C;
  width: 221px;
  height: 660px;
  display: block;
  position: relative;
  overflow: hidden;
}
div.lowerCatCard {
  position: absolute;
  background: #06113C;
  padding: 5px 5px;
  height: 288px;
  -webkit-transition: all 0.6s ease;
  -moz-transition:    all 0.6s ease;
  -o-transition:      all 0.6s ease;
  transition:         all 0.6s ease;
}
div.lowerCatCard:hover {
  opacity: 0.95;
  bottom: 0;
  height: 670px;
}
div.catCard  div.lowerCatCard {
  left: 0;
  bottom: 24%;
  width: 215px;
}
div.catCard:hover div.lowerCatCard {
  bottom: 0;
}
li.catCardList {
  width:225px;
  display: inline-block;
  margin-right: 19px;
  margin-top: 25px;
  background-color: #06113C;
}
li.catCardList-last {
  margin-right: 0;
  width:225px;
  display: inline-block;
}
ul.catCardList {
  margin: 0;
  background-color: #06113C;
}
#catCardButton {
  position: absolute;
  width: 190px;
  bottom: 5px;
  -webkit-transition: all 0.6s ease;
  -moz-transition:    all 0.6s ease;
  -o-transition:      all 0.6s ease;
  box-shadow: 1em, 1em, 1em, 1em, gray;
}
div.lowerCatCard:hover #catCardButton {
  bottom: 5px;
}
.startingPrice span {
  font-size: 16px;
  color: #c90c12;
  font-weight: 300;
}
div.startingPrice {
  margin-bottom: 5px;
  color: #000;
  font-weight: 300;
}
.catCard img {
  border: 1px solid #dddddd;
  width: 219px;
  height: 198px;
  box-shadow: 1em, 1em, 1em, 1em, gray;
}
.catCard img:hover {
  border: 1px solid #bababa;
}

/* Button
.......................................................................*/
.button {
  cursor: pointer;
  font-size: 12px !important;
  color: #ffffff;
  padding: 7px 10px !important;
  text-decoration: none !important;
  text-transform: uppercase !important;
  letter-spacing: 0 !important;
  background: #000;
  border: none;
  border-bottom: solid 1px #c90c12;
  text-align: center;
  margin-top: 10px;
}
.button:hover {
  background-color: #c90c12;
  border: none;
  border-bottom: solid 1px #000;
  box-shadow: 0 2px 3px #a8a8a8;
  transform: scale(1.04);
  -webkit-transform: scale(1.04);
  -moz-transform: scale(1.04);
  -o-transform: scale(1.04);
  -ms-transform: scale(1.04);
}
.button:active {
  background: #000;
}
.button a {
  color: #ffffff;
  padding: 7px 30px !important;
  text-decoration: none;
}
.button a:hover {
  color: #ffffff;
}
.button:hover {
	color: #fff;
}
