

.title {
  color: #FF8C32;
  text-align: center;
  font-family: HurmeBold;
  font-size: 60px;
}

.how_to {
  color: #FF8C32;
  text-align: center;
  font-family: Hurmesemibold;
  font-size: x-large;
  justify-content: center;
  text-justify: auto;
}

.step {
  color: #FF8C32;
  text-align: center;
  font-family: HurmeBold;
  font-size: 45px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding-left: 5px;
  padding-right: 5px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.notice {
  padding-top: 15px;
}
