@font-face {
  font-family: 'HurmeBold';
  src: url('HurmeGeometricSans1 Bold.otf');
}

@font-face {
  font-family: 'Hurmesemibold';
  src: url('HurmeGeometricSans1 SemiBold.otf');
}

.logo_title {
  font-size: 40px;
  font-family: HurmeBold;
  justify-content: center;
  align-items: center;
}

.custom-btn {
  background-color: #FF8C32 !important;
}

.nav_menu {
  font-size: 25px;
  font-family: HurmeBold;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  text-decoration: none !important;
}

.navbar-lewagon {
  justify-content: space-between;
  background: #06113C;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo {
  padding-right: 30px;
  max-width: 100%;
}

.btn-1 {
  margin: 0.5em;
  text-align: center;
  align-items: center;
  color: bisque;
}
