.navbar-lewagon {
  justify-content: space-between;
  background: #06113C;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo {
  padding-right: 30px;
}

.btn-7 {
  margin: 0.5em;
  text-align: center;
  align-items: center;
  color: bisque;

}

.nav-link {
  color: bisque;

}
