.navbar-lewagon {
  justify-content: space-between;
  background: #06113C;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo {
  padding-right: 30px;
}

.nav-link {
  color: #FF8C32;
}
