// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

@import url('https://fonts.googleapis.com/css2?family=Signika:wght@600;700&display=swap');


body {
  background-color: #06113C !important;
}

@font-face {
  font-family: 'HurmeBold';
  src: url('/assets/fonts/HurmeGeometricSans1 Bold.otf') format("truetype");
}

@font-face {
  font-family: 'Hurmesemibold';
  src: url('/assets/fonts/HurmeGeometricSans1 SemiBold.otf') format("truetype");
}
