<ul class="catCardList">
<li class="catCardList">
<div class="catCard"><a href="#"><img src="<%= "#{@product.image_url}" %>" /></a>
<div class="lowerCatCard">
<h3><%= @product.album_title %></h3>

<%= render "form", alert: Alert.new(product: @product) %>
<%# <div id="catCardButton" class="button"><a href="#">Create an Alert</a></div> %>
</div>
</div>
</li>
</ul>
