<div class="">
<%= form_with method: :get, class: "" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find your album"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
</div>
