<div style="background: #06113C;">
<div class="wrapper">
  <h1>Your Discogs Albums</h1>
			<div class="col" ontouchstart="this.classList.toggle('hover');">
  <div class="searchbar">
    <Ul><%= render "search" %></Ul>
    <Ul><%= render "url" %></Ul>

  </div>
  <%= render "card" %>
</div>
