<div style="background: #06113C;">
  <div class="wrapper">
    <h1>Your Discogs Albums</h1>
        <%# <div class="col" ontouchstart="this.classList.toggle('hover');"> %>
      <div class="row form-group justify-content-center" style="background: #06113C;">
        <div class="col-sm-6 field">
          <%= render "search" %>
          <%= render "url" %>
        </div>
      </div>
    <%= render "card" %>
  </div>
</div>
